@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');



body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fliud {
    margin: 0;
    padding: 0;
}

#header {
    min-height: 10vh;
    /* background-color: ; */
    background-image: linear-gradient(#164E2E,#387E56);
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-width: 10px;
    border-color: white;
}

#menu {
    width: 50%;
    text-align: center;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 300;
}

#midSection {
    /* background-image: url(assets/bgImage1.jpg);
    background-size: cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#midContent {
    text-align: left; /* Align "Welcome to" to the left */
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 59%;
    margin: 0 auto;
}

.centered-content {
    text-align: center; /* Center "WisdomLabs" and "We create out of curiosity, fun, and Wisdom!" */
}

.contactPageMidContnet {
    font-size: 25px;
    margin-top: 20px;
}

#image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image cover the entire midSection */
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place it above other content */
    opacity: 0.7; /* Adjust the opacity as needed (0.0 to 1.0) */
}

#footer {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #387E56; */
    background-image: linear-gradient(#164E2E,#387E56);
    border-top: solid;
    border-width: 10px;
    border-color: white;
}

#footerContent {
    width: 50%;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: "Raleway";
}

.footerItem {
    display: flex;
    justify-content: center;
}

.yellowCircle {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: #FFD42A;
    margin-right: 15px;
}

.yellowCircleTop {
    display: none;
}

.contentFont {
    font-family: "Inter";
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 110px;
    color: #164CB2;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    /* font-family: "Inter"; */
    font-weight: 700;
}

.titleColored {
    color: #164CB2;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
}

h2 {
    font-size: 40px;
    /* font-family: "Inter"; */
    font-weight: 500;
}

h3 {
    font-size: 30px;
    /* font-family: "Inter"; */
    font-weight: 500;
}

h4 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}

.activePage {
    color: #FFD42A;
}

.emailLink {
    text-decoration: underline;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 85px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 30px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h3 {
        font-size: 25px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h4 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    #menu {
        width: 80%;
    }

    #midContent {
        text-align: center; /* Align "Welcome to" to the left */
        padding: 20px;
        border-radius: 10px;
        color: white;
        max-width: 100%;
        margin: 0 auto;
    }

    #footerContent {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {

    h1 {
        font-size: 50px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 20px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h3 {
        font-size: 20px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h4 {
        font-size: 50px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    #menu {
        width: 80%;
    }

    #midContent {
        text-align: center; /* Align "Welcome to" to the left */
        padding: 20px;
        border-radius: 10px;
        color: white;
        max-width: 100%;
        margin: 0 auto;
    }

    .contactPageMidContnet {
        font-size: 22px;
    }

    #footerContent {
        width: 80%;
        font-size: 12px;
        font-family: "Raleway";
        flex-direction: column;
        align-items: center;
    }

    .footerItem {
        display: flex;
        justify-content:center;
    }
    
    .yellowCircle {
        /* height: 15px;
        width: 15px;
        border-radius: 25px;
        background-color: #FFD42A;
        margin-right: 15px; */
        display: none;
    }

    .yellowCircleTop {
        display:flex;
        justify-content: center;
        margin-bottom: 10px;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: #FFD42A;
    }
}


@media screen and (max-width: 385px) {

    h1 {
        font-size: 35px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 20px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h3 {
        font-size: 20px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h4 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    #menu {
        width: 80%;
        font-size: 18px;
    }

    #midContent {
        text-align: center; /* Align "Welcome to" to the left */
        padding: 10px;
        border-radius: 10px;
        color: white;
        max-width: 100%;
        margin: 0 auto;
    }

    .contactPageMidContnet {
        font-size: 16px;
    }

    #footerContent {
        width: 100%;
        font-size: 10px;
        font-family: "Raleway";
        flex-direction: column;
        align-items: center;
    }

    .footerItem {
        display: flex;
        justify-content:center;
    }
    
    .yellowCircle {
        /* height: 15px;
        width: 15px;
        border-radius: 25px;
        background-color: #FFD42A;
        margin-right: 15px; */
        display: none;
    }

    .yellowCircleTop {
        display:flex;
        justify-content: center;
        margin-bottom: 10px;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: #FFD42A;
    }
}

@media screen and (max-width: 270px) {

    h1 {
        font-size: 25px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 20px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h3 {
        font-size: 20px;
        /* font-family: "Inter"; */
        font-weight: 500;
    }
    
    h4 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #menu {
        width: 100%;
        font-size: 18px;
    }

    #midContent {
        text-align: center; /* Align "Welcome to" to the left */
        padding: 10px;
        border-radius: 10px;
        color: white;
        max-width: 100%;
        margin: 0 auto;
    }

    .contactPageMidContnet {
        font-size: 12px;
    }

    #footerContent {
        width: 100%;
        font-size: 10px;
        font-family: "Raleway";
        flex-direction: column;
        align-items: center;
    }

    .footerItem {
        display: flex;
        justify-content:center;
    }
    
    .yellowCircle {
        /* height: 15px;
        width: 15px;
        border-radius: 25px;
        background-color: #FFD42A;
        margin-right: 15px; */
        display: none;
    }

    .yellowCircleTop {
        display:flex;
        justify-content: center;
        margin-bottom: 10px;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: #FFD42A;
    }
}